.wrapper{
    background:yellow;
    display: flex;
}
.main-column{
flex:3;
order:2;
}
.sidebar1{
flex:1;
order:1;
}
.sidebar2{
flex:1;
order:3;
}
@media(min-width:900px){
    .wrapper2{
        display: flex;
        justify-content: space-between;
    }
}
.wrapper2 > div{
    padding:20px;
    flex-basis: 30%;
    box-sizing: border-box;
}

.wrapper2 .sec1{
    background:chartreuse;
}
.wrapper2 .sec2{
    background:chocolate;
}
.wrapper2 .sec3{
    background: darkblue;;
}

.wrapper3{
    display:flex;
    justify-content: space-between;
    margin-top:10px;
    background:black;
    padding:20px;
    flex-wrap:wrap;
}

.wrapper3 > div{
background:Red;
width:200px;
height:200px;
padding:20px;
box-sizing: border-box;
text-align: center;
}

.banner{
    background:yellow;
    width:300px;
    min-height: 300px;
    margin:0 auto;
    display: flex;
    text-align: center;
}
.center-me{
    color:red;
    font-size:50px;
    margin:auto;
}